<script type="text/x-template" id="filters-template">
<div>
    <h4>Filters</h4>
    <el-select v-model="editingFilter.propKey" filterable placeholder="Property...">
        <el-option
                v-for="propKey in propKeys"
                :key="propKey"
                :label="propKey"
                :value="propKey">
        </el-option>
    </el-select>
    <el-select v-model="editingFilter.operator" filterable placeholder="Operator..." style="margin-top: 8px;">
        <el-option
                v-for="operator in operators"
                :key="operator[1]"
                :label="operator[0]"
                :value="operator[1]">
        </el-option>
    </el-select>
    <el-select
            v-model="editingFilter.operand"
            filterable
            allow-create
            placeholder="Value..." style="margin-top: 8px;">
        <el-option
                v-for="propValue in editingPropValues"
                :key="propValue"
                :label="propValue"
                :value="propValue">
        </el-option>
    </el-select>
    <el-button style="margin-top: 8px;" @click="addFilter()">Add Filter</el-button>
    <div v-for="(filter, index) in editableFilters" :key="filter.key" style="margin-top: 8px;">
        <i class="el-icon-circle-close-outline" style="cursor: hand" @click="removeFilter(index)"></i>
        {{ filter.propKey }} {{ filter.operator}} {{ filter.operand}}
    </div>
</div>
</script>
<script>
    Vue.component('filters', {
        template: '#filters-template',
        props: ['propValues', 'filters'],
        data: function () {
            var editableFilters = [];
            var persistedModel = localStorage.getItem('filters::persistedModel');
            if (persistedModel) {
                var model = JSON.parse(persistedModel);
                editableFilters = model.editableFilters || [];
            }
            return {
                editingFilter: {
                    propKey: '',
                    operator: 'equals',
                    operand: ''
                },
                operators: [
                    ['Equals', 'equals'],
                    ['Contains', 'contains']
                ],
                editableFilters: editableFilters
            }
        },
        watch: {
            editableFilters: function (val) {
                this.onEditableFiltersUpdated();
            }
        },
        mounted: function() {
            this.onEditableFiltersUpdated();
        },
        computed: {
            propKeys: function() {
                var propKeys = [];
                for (var propKey in this.propValues) {
                    propKeys.push(propKey);
                }
                return propKeys;
            },
            editingPropValues: function() {
                if (!this.editingFilter.propKey) {
                    return [];
                }
                return this.propValues[this.editingFilter.propKey];
            }
        },
        methods: {
            onEditableFiltersUpdated: function() {
                var whitelist = {};
                for (var i in this.editableFilters) {
                    var editableFilter = this.editableFilters[i];
                    whitelist[editableFilter.propKey] = createFilterFunc(editableFilter, whitelist[editableFilter.propKey]);
                }
                var filters = {
                    cacheKey: '__filtered_by_' + new Date().getTime(),
                    filterFunc: mergeWhitelist(whitelist)
                };
                this.$emit('update:filters', filters);
                localStorage.setItem('filters::persistedModel', JSON.stringify({
                    'editableFilters': this.editableFilters
                }));
            },
            addFilter: function() {
                if (!(this.editingFilter.propKey)) {
                    $vue.$notify.error({
                        title: 'Add filter missing parameter',
                        message: 'Property not specified'
                    });
                    return;
                }
                if (!(this.editingFilter.operand)) {
                    $vue.$notify.error({
                        title: 'Add filter missing parameter',
                        message: 'Filter operand not specified'
                    });
                    return;
                }
                this.editableFilters.push({
                    propKey: this.editingFilter.propKey,
                    operator: this.editingFilter.operator,
                    operand: this.editingFilter.operand,
                    key: new Date().getTime(),
                });
                this.editingFilter.propKey = '';
                this.editingFilter.operand = '';
            },
            removeFilter: function(index) {
                this.editableFilters.splice(index, 1);
            }
        }
    });

    function mergeWhitelist(whitelist) {
        return function(event) {
            for (var propKey in whitelist) {
                var filterFunc = whitelist[propKey];
                var propValue = event[propKey];
                if (propValue === undefined) {
                    return false;
                }
                if (filterFunc(propValue)) {
                    return true;
                }
            }
            return false;
        }
    }

    function createFilterFunc(editableFilter, previousFunc) {
        switch (editableFilter.operator) {
            case 'contains':
                return function(val) {
                    if (val.indexOf(editableFilter.operand) !== -1) {
                        return true;
                    }
                    if (previousFunc) {
                        return previousFunc(val)
                    } else {
                        return false;
                    }
                };
            case 'equals':
                return function(val) {
                    if (val === editableFilter.operand) {
                        return true;
                    }
                    if (previousFunc) {
                        return previousFunc(val)
                    } else {
                        return false;
                    }
                };
            default:
                console.log('unknown filter operator: ' + editableFilter.operator);
                return function(val) { return false; }
        }
    }
</script>