<script type="text/x-template" id="log-viewer-template">
    <el-row>
        <el-col :span="20">
            <el-table
                    :data="tableData"
                    row-key="timestamp"
                    stripe
                    border
                    style="width: 100%;">
                <el-table-column label="timestamp" :formatter="formatTimestamp" />
                <el-table-column v-for="item in userDefinedColumns" :prop="item" :label="item" resizable />
                <el-table-column label="event" prop="event" />
                <el-table-column label="details" min-width="400">
                    <template slot-scope="scope">
                        <table>
                            <tr v-for="(propValue, propKey) in scope.row" v-if="isInlineProp(propKey)">
                                <td>{{ propKey }}</td><td>{{ propValue }}</td>
                            </tr>
                        </table>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>
        <el-col :span="4" style="pdding-right: 1em; padding-left: 1em;">
            <filters :propValues="propValues" :filters="filters"></filters>
        </el-col>
    </el-row>
</script>
<script>
    Vue.component('log-viewer', {
        template: '#log-viewer-template',
        data: function () {
            return {
                events: [],
                userDefinedColumns: [],
                excludedPropKeys: ['response'],
                filters: {},
                propValues: {},
                propViewModes: {
                    event: 'column',
                    timestamp: 'column',
                    level: 'hidden',
                    lineNumber: 'hidden'
                },
            }
        },
        methods: {
            formatTimestamp: function(row, column, cellValue) {
                var d = new Date(row.timestamp / 1000000);
                return d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds() + '.' + d.getMilliseconds();
            },
            isInlineProp: function(propKey) {
                return (this.propViewModes[propKey] || 'inline') == 'inline';
            }
        },
        computed: {
            tableData: function() {
                if (this.events.length < 1000) {
                    return this.events;
                }
                return this.events.slice(0, 1000);
            },
        },
        created: function() {
            var me = this;
            (function(){
                axios.get('/more-events?ts=' + Date.now())
                    .then(function (resp) {
                        for (var i in resp.data) {
                            var event = resp.data[i];
                            for (var propKey in event) {
                                if (propKey === 'level' || propKey === 'timestamp' || propKey === 'lineNumber') {
                                    continue;
                                }
                                var propValue = event[propKey];
                                if (!(propKey in me.propValues)) {
                                    Vue.set(me.propValues, propKey, []);
                                } else {
                                    var vals = me.propValues[propKey];
                                    if (vals.length < 100 && vals.indexOf(propValue) === -1) {
                                        vals.push(propValue);
                                    }
                                }
                            }
                        }
                        me.events = resp.data.reverse().concat(me.events);
                    });
                setTimeout(arguments.callee, 1000);
            })();
        }
    })
</script>