<script type="text/x-template" id="log-viewer-template">
    <el-row>
        <el-col :span="20">
            <el-table
                    ref="logViewerTable"
                    :data="tableData"
                    row-key="timestamp"
                    :expand-row-keys="expandedRowKeys"
                    style="width: 100%;">
                <el-table-column type="expand">
                    <template slot-scope="tbl">
                        <span v-for="kv in formatKV(tbl.row)" class="event-kv">{{ kv }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="timestamp" :formatter="formatTimestamp" width="140" v-if="showTimestamp" />
                <el-table-column label="level" width="140" v-if="showLevel">
                    <template slot-scope="tbl">
                        <span :class="'level level-' + tbl.row.level">{{ tbl.row.level }}</span>
                    </template>
                </el-table-column>
                <el-table-column v-for="item in userDefinedColumns" :prop="item" :key="item" :label="item" resizable />
                <el-table-column label="event" prop="event">
                    <template slot-scope="scope">
                        <span class="event-cell">{{ scope.row.event }}</span>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>
        <el-col :span="4" style="pdding-right: 1em; padding-left: 1em;">
            <data-sources :dataSource.sync="dataSource" />
            <columns ref="columns" :namespace="dataSource"
                     :columns.sync="userDefinedColumns"
                     :showTimestamp.sync="showTimestamp"
                     :showLevel.sync="showLevel"
                     :propKeys="propKeys" @expandAll="expandAll"/>
            <filters :propValues="propValues" :filters.sync="filters" />
        </el-col>
    </el-row>
</script>
<style>
    .level-FATAL {
        background-color: red;
    }
    .level-ERROR {
        background-color: #ff9999;
    }
    .level-WARN {
        background-color: #ffc8c8;
    }
    .event-kv {
        margin-right: 1em;
        padding:4px;
        color: #ccc;
    }
    tr:hover .event-kv {
        background-color:#eee;
        color: #000;
    }
    .event-cell {
        padding:4px;
        background-color:#eee;
    }
    .el-table__expanded-cell[class*=cell] {
        padding: 4px 0;
    }
    .el-table td, .el-table th {
        padding: 2px 0;
    }
</style>
<script>
    Vue.component('log-viewer', {
        template: '#log-viewer-template',
        data: function () {
            return {
                hiddenKeys: {
                    'level': true,
                    '__filtered_by_0': true,
                    'timestamp': true,
                    'lineNumber': true,
                    'event': true
                },
                filters: {'cacheKey': '__filtered_by_0'},
                events: [],
                userDefinedColumns: [],
                propValues: {},
                dataSource: window.location.host,
                expandedRowKeys: [],
                showTimestamp: false,
                showLevel: false
            }
        },
        watch: {
            dataSource: function() {
                this.events = [];
                this.propValues = [];
                this.userDefinedColumns = [];
            }
        },
        methods: {
            formatTimestamp: function(row, column, cellValue) {
                var d = new Date(row.timestamp / 1000000);
                return d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds() + '.' + d.getMilliseconds();
            },
            formatKV: function(event) {
                var kv = [];
                for (var propKey in event) {
                    if (this.hiddenKeys[propKey]) {
                        continue;
                    }
                    if (this.userDefinedColumns.indexOf(propKey) !== -1) {
                        continue;
                    }
                    var propValue = event[propKey];
                    kv.push(propKey + '=' + propValue);
                }
                return kv;
            },
            isFiltered: function(event, cacheKey) {
                var cacheValue = event[cacheKey];
                if (cacheValue !== undefined) {
                    return cacheValue;
                }
                for (var propKey in this.filters) {
                    if (propKey === 'cacheKey') {
                        continue;
                    }
                    var filterFunc = this.filters[propKey];
                    var propValue = event[propKey];
                    if (propValue === undefined) {
                        event[cacheKey] = true;
                        return true;
                    }
                    if (!filterFunc(propValue)) {
                        event[cacheKey] = true;
                        return true;
                    }
                }
                event[cacheKey] = false;
                return false;
            },
            expandAll: function(e) {
                this.$refs.logViewerTable.$data.store.states.defaultExpandAll = e;
                var tableData = this.tableData;
                for (var i in tableData) {
                    this.$refs.logViewerTable.toggleRowExpansion(tableData[i], e);
                }
            }
        },
        computed: {
            tableData: function() {
                var count = 0;
                var filtered = [];
                var cacheKey = this.filters['cacheKey'];
                this.hiddenKeys[cacheKey] = true;
                for (var i in this.events) {
                    var event = this.events[i];
                    if (this.isFiltered(event, cacheKey)) {
                        continue;
                    }
                    filtered.push(event);
                    count++;
                    if (count === 100) {
                        break;
                    }
                }
                return filtered;
            },
            propKeys: function() {
                var keys = ['timestamp', 'level'];
                for (var propKey in this.propValues) {
                    if (propKey === 'event') {
                        continue;
                    }
                    keys.push(propKey);
                }
                return keys;
            }
        },
        created: function() {
            var me = this;
            (function(){
                var callback = arguments.callee;
                axios.get('http://' + me.dataSource + '/more-events?ts=' + Date.now())
                    .then(function (resp) {
                        if (!resp || !Array.isArray(resp.data)) {
                            setTimeout(callback, 10000);
                            return
                        }
                        for (var i in resp.data) {
                            var event = resp.data[i];
                            for (var propKey in event) {
                                if (propKey === 'level' || propKey === 'timestamp' || propKey === 'lineNumber') {
                                    continue;
                                }
                                var propValue = event[propKey];
                                if (!(propKey in me.propValues)) {
                                    Vue.set(me.propValues, propKey, []);
                                } else {
                                    var vals = me.propValues[propKey];
                                    if (vals.length < 100 && vals.indexOf(propValue) === -1) {
                                        vals.push(propValue);
                                    }
                                }
                            }
                        }
                        me.events = resp.data.reverse().concat(me.events);
                        setTimeout(callback, 0);
                    });
            })();
        }
    })
</script>