<script type="text/x-template" id="state-node-template">
    <div style="padding-left:18px">
        <div @click="callbacks.onNodeClick(node)">
            <span class="el-tree-node__expand-icon el-icon-caret-right"
                  :class="{ 'is-leaf': node.isLeaf, expanded: !node.isLeaf && node.expanded }"></span>
            {{ node.label }}
            <span v-if="node.value">: {{ node.value }}</span>
        </div>
        <state-node v-for="child in node.children" :node="child"
                    :callbacks="callbacks" :key="child.id"
                    v-show="!node.isLeaf && node.expanded" />
    </div>
</script>
<script type="text/x-template" id="state-viewer-template">
    <div>
        <state-node v-for="node in tree.children" :node="node" :callbacks="callbacks" :key="node.id">
        </state-node>
    </div>
</script>
<script>
    function Node(options) {
        this.id = '';
        this.label = '';
        this.value = null;
        this.expanded = false;
        this.isLeaf = false;
        this.data = null;
        this.indention = 0;
        this.children = [];
        for (var k in options) {
            this[k] = options[k];
        }
    }

    Node.prototype.addChild = function (options) {
        var child = new Node(options);
        child.id = this.id + '>' + options.label;
        child.indention = this.indention + 18;
        this.children.push(child);
    };
    Vue.component('state-node', {
        template: '#state-node-template',
        props: ['node', 'callbacks']
    });
    Vue.component('state-viewer', {
        template: '#state-viewer-template',
        data: function () {
            var tree = new Node({id: 'root'});
            return {
                tree: tree, // view model
                state: {},
                callbacks: this
            }
        },
        created: function () {
            var me = this;
            axios.get('/export-state?ts=' + Date.now())
                .then(function (resp) {
                    me.state = resp.data;
                    me.tree = new Node({id: 'root'});
                    for (var k in resp.data.root) {
                        me.tree.addChild({label: k, data: resp.data.root[k]})
                    }
                });
        },
        methods: {
            onNodeClick: function (node) {
                node.expanded = !node.expanded;
                if (node.data && node.data.__object_address__) {
                    var objectAddr = node.data.__object_address__;
                    node.data = null; // avoid reload children
                    var object = this.state[objectAddr];
                    for (var k in object) {
                        switch (typeof object[k]) {
                            case 'string':
                                node.addChild({label: k, value: object[k], isLeaf: true});
                                break;
                            case 'object':
                                node.addChild({label: k, data: object[k]});
                                break;
                        }
                    }
                }
            }
        }
    });
</script>